._sv_sequence_container {
	padding : 0px;
	overflow-x: scroll;
}

._sv_absolute_container {
	position: absolute;
}

._sv_progress_container {
	position: absolute;
	background-color: white;
}

._sv_progress_label {
	position: relative;
	top : 35%;
	color : #555;
	font-size: 18px;
	text-align: center;
}

._sv_progress_percent {
	font-size: 14px;
}

td._sv_sequence_container_outer {
	padding: 0px;
	height: 50px;
}

._sv_seq_index {
	font-size : 8px;
}

._sv_status {
	margin-right : 10px;
	position : relative;
	top : 5px;
	font-size : 10px;
	color : #555;
}

._sv_seq_index, ._sv_row_index {
	text-align: right;
	width : 50px;
}

._sv_search_box {
	width: 250px;
}

._sv_translator,
._svf_add_feature, 
._svf_save_feature, 
._svf_cancel_feature {
	margin : 3px;
}

._sv_seq_label,._sv_box {
	cursor: pointer;
}

.table td ._msv_sequence_info {
	white-space: nowrap;
	overflow-x: scroll;
	padding : 0px 0px 0px 0px;
}

._msv_sequence_info a {
	font-size : 14px;
	padding : 5px 4px 4px 4px;
	display: inline-block;
}

._msv_seq_info {
	border-bottom: solid 1px #eee;
}

a._msv_seq_info {
	color : #0587FF;
}

._msv_label {
	font-size: 10px;
}

._msv_midbar {
	background-color: #eee;
	height: 45px;
}

._msv_midbar td ._msv_equality_container {
	overflow-x: scroll;
}

._msv_midbar td {
	padding: 0px;
}

._msv_active_row {
	margin-left : 10px;
}

._svf_line {
	fill:none;
	stroke:#111;
	stroke-width:2;
}

._svf_desc_box {
	cursor: pointer;
	fill:#111;
}

._svf_shadow_popover {
	position : relative;
	cursor: pointer;
	top : -15px;
	left : 15px;
	width : 0px;
	height: 10px;
	background-color: red;
}